<a href="https://colab.research.google.com/github/jazaineam1/BigData2023_2/blob/main/Cuadernos/Sesion1_Introducci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Introducci√≥n a Big Data e ingesta de datos en python***

## ***Universidad Central***
>## **Facultad de Ingenier√≠a y Ciencias B√°sicas.**
>## ***Maestr√≠a en anal√≠tica de datos***
![Universidad Central](images/1.png)


>## ***Big Data.***
>## ***Docente: Antonino Zainea Maya.***

## Parte 1

### Introducci√≥n

En el mundo digital actual, es importante entender la cantidad de datos que las plataformas en l√≠nea recopilan sobre nosotros y c√≥mo esta informaci√≥n se utiliza para personalizar servicios y anuncios. A continuaci√≥n, exploramos algunas de las principales empresas y la informaci√≥n que pueden recopilar:

1. Google y su Recopilaci√≥n de Datos:

Al utilizar servicios de Google como Gmail, es esencial leer detenidamente la pol√≠tica de privacidad para comprender qu√© datos estamos autorizando compartir. Google rastrea nuestras b√∫squedas, ubicaciones y viajes, y utiliza estos datos para dirigir anuncios espec√≠ficos hacia nosotros.

2. Facebook y su Conocimiento Detallado:

Facebook sabe detalles sobre nuestras relaciones, intereses y actividades, lo que puede influir en los anuncios que vemos. Incluso puede predecir el deterioro de relaciones bas√°ndose en patrones en la plataforma. La capacidad de la plataforma para inferir rasgos emocionales a trav√©s de las interacciones tambi√©n es notable.

3. Twitter y las Implicaciones Personales:

Twitter tambi√©n tiene la capacidad de inferir nuestra estabilidad emocional bas√°ndose en nuestras interacciones y publicaciones. Algunas empresas incluso utilizan an√°lisis de redes sociales durante los procesos de selecci√≥n.

4. Apple y la Continuidad de la Conexi√≥n:

Los iPhones est√°n dise√±ados de manera que la bater√≠a no se pueda extraer, lo que puede llevar a que el dispositivo siempre est√© conectado. Esto ha llevado a especulaciones sobre si los datos se transmiten incluso cuando el tel√©fono est√° apagado o sin bater√≠a.

5. YouTube y Amazon: Personalizaci√≥n y Recomendaciones:

Plataformas como YouTube y Amazon recopilan informaci√≥n sobre los videos que vemos y las compras que realizamos, respectivamente. Esta informaci√≥n se utiliza para recomendaciones personalizadas, lo que contribuye a la experiencia del usuario.


<span class="hljs-tag"><img src="https://cdn.statcdn.com/Infographic/images/normal/17539.jpeg" width="580">

La actual era, a menudo denominada "era de la informaci√≥n" o "era digital", se caracteriza por la abundancia de datos y la r√°pida evoluci√≥n de la tecnolog√≠a de la informaci√≥n. En esta era, la industria ha experimentado una transformaci√≥n significativa en la forma en que opera y toma decisiones debido al acceso y la disponibilidad de grandes vol√∫menes de informaci√≥n. Aqu√≠ hay algunas razones clave por las cuales el manejo de grandes vol√∫menes de informaci√≥n es crucial en la industria en esta era:

1. **Toma de decisiones informadas:** üßêüìä Las organizaciones pueden tomar decisiones m√°s informadas y estrat√©gicas al analizar grandes conjuntos de datos. Esto les permite comprender mejor el mercado, los patrones de consumo, las preferencias del cliente y las tendencias emergentes. La toma de decisiones basada en datos es esencial para mantenerse competitivo en un entorno empresarial en constante cambio.

2. **Personalizaci√≥n y segmentaci√≥n:** üéØüë• Con acceso a grandes cantidades de datos, las empresas pueden personalizar sus productos y servicios de acuerdo con las necesidades y preferencias individuales de los clientes. Esto les permite dirigirse a segmentos espec√≠ficos de la poblaci√≥n de manera m√°s efectiva, mejorando as√≠ la experiencia del cliente y aumentando la lealtad.

3. **Optimizaci√≥n de procesos:** ‚öôÔ∏èüìà El an√°lisis de grandes vol√∫menes de datos puede revelar ineficiencias y √°reas de mejora en los procesos empresariales. Al identificar estos puntos d√©biles, las organizaciones pueden optimizar sus operaciones, reducir costos y mejorar la eficiencia en general.

4. **Innovaci√≥n:** üí°üöÄ La exploraci√≥n de grandes cantidades de datos puede conducir a descubrimientos y patrones inesperados que pueden generar nuevas ideas y oportunidades de innovaci√≥n. Al identificar correlaciones y relaciones que no eran evidentes anteriormente, las empresas pueden desarrollar productos y servicios innovadores.

5. **Predicci√≥n y prevenci√≥n:** üîÆüïµÔ∏è‚Äç‚ôÇÔ∏è Mediante el an√°lisis de datos hist√≥ricos y en tiempo real, las empresas pueden predecir tendencias futuras y riesgos potenciales. Esto es especialmente valioso en sectores como la salud, la seguridad cibern√©tica y la gesti√≥n de la cadena de suministro, donde la anticipaci√≥n de problemas puede marcar la diferencia.

6. **Mejora de la experiencia del cliente:** üõçÔ∏èüë§ Las empresas pueden utilizar datos para comprender mejor el viaje del cliente y mejorar su experiencia en todas las etapas. Esto incluye desde la adquisici√≥n inicial hasta la retenci√≥n y el servicio postventa, lo que conduce a relaciones m√°s s√≥lidas con los clientes.

7. **Investigaci√≥n y desarrollo:** üî¨üíº En industrias como la farmac√©utica y la tecnolog√≠a, el an√°lisis de grandes conjuntos de datos puede acelerar la investigaci√≥n y el desarrollo al identificar patrones y relaciones en la informaci√≥n recopilada.

8. **Competitividad:** üèÜüìà Aquellas organizaciones que pueden aprovechar eficazmente grandes vol√∫menes de datos tienen una ventaja competitiva en el mercado. La capacidad de adaptarse y responder a los cambios en funci√≥n de la informaci√≥n en tiempo real puede marcar una gran diferencia en la capacidad de una empresa para mantenerse relevante y competitiva.

![](https://pbs.twimg.com/media/EFz4Xl2XUAA4G8z?format=jpg&name=900x900)

El an√°lisis de conjuntos de datos de Big Data es un esfuerzo interdisciplinario que combina matem√°ticas, estad√≠sticas, ciencias de la computaci√≥n y experiencia en la materia. Esta mezcla de conjuntos de habilidades y perspectivas ha generado cierta confusi√≥n sobre lo que comprende el campo del Big Data y su an√°lisis, ya que la respuesta que se recibe depender√° de la perspectiva de quien responda a la pregunta. Los l√≠mites de lo que constituye un problema de Big Data tambi√©n est√°n cambiando debido al paisaje en constante cambio y avance de la tecnolog√≠a de software y hardware. Esto se debe al hecho de que la definici√≥n de Big Data tiene en cuenta el impacto de las caracter√≠sticas de los datos en el dise√±o del entorno de soluci√≥n en s√≠ mismo. Hace treinta a√±os, un gigabyte de datos pod√≠a representar un problema de Big Data y requerir recursos inform√°ticos especiales. Ahora, los gigabytes de datos son comunes y se pueden transmitir, procesar y almacenar f√°cilmente en dispositivos orientados al consumidor.

Los datos dentro de los entornos de Big Data generalmente se acumulan al ser recopilados dentro de la empresa a trav√©s de aplicaciones, sensores y fuentes externas. Los datos procesados por una soluci√≥n de Big Data pueden ser utilizados directamente por las aplicaciones empresariales o pueden ser alimentados en un almac√©n de datos para enriquecer los datos existentes all√≠. Los resultados obtenidos a trav√©s del procesamiento de Big Data pueden llevar a una amplia gama de conocimientos y beneficios, como:



- Optimizaci√≥n operativa üîÑüìä
- Inteligencia accionable üß†üí°
- Identificaci√≥n de nuevos mercados üåçüîç
- Predicciones precisas üéØüîÆ
- Detecci√≥n de fallas y fraudes ‚ö†Ô∏èüïµÔ∏è‚Äç‚ôÇÔ∏è
- Registros m√°s detallados üìùüîç
- Mejora en la toma de decisiones üìàü§ù
- Descubrimientos cient√≠ficos üî¨üß™



Evidentemente, las aplicaciones y los beneficios potenciales del Big Data son amplios. Sin embargo, existen numerosos problemas que deben considerarse al adoptar enfoques de an√°lisis de Big Data. Estos problemas deben entenderse y ponderarse frente a los beneficios anticipados para que se puedan generar decisiones y planes informados.

### **Algunos conceptos importantes**

**On-Premise:**
- **Almacenamiento local:** En una soluci√≥n "on-premise", los datos se almacenan en servidores y sistemas que est√°n f√≠sicamente ubicados en las instalaciones de la organizaci√≥n.
- **Control total:** La organizaci√≥n tiene un control completo sobre la infraestructura, los servidores y el entorno en el que se encuentran los datos.
- **Seguridad y privacidad:** La seguridad depende de la infraestructura y medidas de seguridad implementadas por la organizaci√≥n, lo que puede requerir inversiones significativas en t√©rminos de seguridad cibern√©tica y recursos humanos.
- **Costos iniciales:** Se requiere una inversi√≥n inicial en hardware, servidores, infraestructura y personal para gestionar y mantener los sistemas.
- **Escalabilidad limitada:** La escalabilidad puede ser m√°s complicada y costosa, ya que se deben adquirir y configurar nuevos equipos f√≠sicos a medida que crecen los requisitos de datos.
- **Acceso local:** El acceso a los datos suele limitarse a la red interna de la organizaci√≥n y puede requerir conexiones VPN para acceder de forma segura desde ubicaciones remotas.

**Data Cloud (Nube de Datos):**
- **Almacenamiento en la nube:** En una soluci√≥n de "data cloud", los datos se almacenan en servidores remotos y gestionados por proveedores de servicios en la nube.
- **Infraestructura gestionada:** La organizaci√≥n no es responsable de mantener la infraestructura f√≠sica. El proveedor de la nube se encarga de la administraci√≥n y el mantenimiento.
- **Seguridad y privacidad:** Los proveedores de la nube ofrecen medidas de seguridad robustas y certificaciones para proteger los datos. Sin embargo, la confianza en la seguridad de la nube implica ceder cierto nivel de control a terceros.
- **Costos escalonados:** Los costos suelen ser operativos en lugar de iniciales, con modelos de pago por uso. Puede ser m√°s rentable a largo plazo, especialmente para empresas que experimentan cambios en sus necesidades de almacenamiento y c√≥mputo.
- **Escalabilidad flexible:** La nube permite escalar f√°cilmente los recursos seg√∫n las necesidades cambiantes, ya que los proveedores pueden asignar recursos adicionales de manera r√°pida y eficiente.
- **Acceso remoto:** Los datos pueden accederse desde cualquier ubicaci√≥n con conexi√≥n a Internet, lo que facilita el trabajo remoto y la colaboraci√≥n.

La elecci√≥n entre "on-premise" y "data cloud" depende de los objetivos, recursos y necesidades de seguridad de una organizaci√≥n. Las soluciones "on-premise" brindan un mayor control pero requieren inversiones significativas, mientras que las soluciones en la nube ofrecen flexibilidad y escalabilidad, a expensas de ceder cierto control sobre la infraestructura a terceros.



<span class="hljs-tag"><img src="https://edteam-media.s3.amazonaws.com/blogs/original/def59e91-b472-40dd-b9c4-cda7f79a3515.png" width="580">

## Las Mejores Empresas de Cloud Computing

Lamejores empresas de Cloud Computing, ideales para ser contratadas debido a su eficiencia y competitividad en t√©rminos de computaci√≥n en la nube, procesamiento y an√°lisis de datos. Las herramientas y servicios que ofrecen son fundamentales para optimizar las operaciones empresariales de manera eficiente.

1.  [**Amazon Web Services (AWS)** üåêüîß](https://aws.amazon.com/es/)
   Amazon Web Services es una plataforma de Cloud Computing gestionada por Amazon. Es la plataforma m√°s grande y ampliamente utilizada en todo el mundo, ofreciendo una variedad de herramientas y servicios que facilitan la administraci√≥n de operaciones empresariales de manera efectiva. Algunas de estas herramientas incluyen:
   
   - Amazon Elastic Compute Cloud
   - Amazon Simple Storage Service
   - Amazon Relational Database Service
   - Amazon Virtual Private Cloud
   - Amazon Lambda
   - Amazon Elastic Block Store

2. [**Microsoft Azure** ‚òÅÔ∏èüîç](https://azure.microsoft.com/es-es)
   Microsoft Azure es la plataforma de Cloud Computing de Microsoft. Ofrece servicios de computaci√≥n, almacenamiento, an√°lisis de datos y aprendizaje autom√°tico, entre otros. Destacan servicios como:
   
   - Azure Virtual Machines
   - Azure Storage
   - Azure SQL Database
   - Azure App Service
   - Azure Cosmos DB

3. [**Google Cloud Platform (GCP)** ‚òÅÔ∏èüöÄ](https://cloud.google.com/?hl=es)
   Google Cloud Platform es la soluci√≥n de Google, conocida por su disponibilidad, escalabilidad y precio competitivo. Ofrece una amplia gama de servicios, como:
   
   - Google Compute Engine
   - Google Cloud Storage
   - Google Cloud SQL
   - Google BigQuery

4. [**IBM Cloud** ‚òÅÔ∏èüîë](https://cloud.ibm.com/)
   IBM Cloud ofrece una amplia gama de servicios, incluyendo almacenamiento, computaci√≥n, an√°lisis y servicios integrados con herramientas existentes de IBM. Algunos servicios destacados son:
   
   - IBM Watson Studio
   - IBM Cloud Pak for Data
   - IBM Cloud Pak for Security


**Fuente:** [Tokio School](https://www.tokioschool.com/noticias/empresas-cloud-computing/)

![texto del v√≠nculo](https://i.blogs.es/282664/crecimiento-cloud-computing-1/1366_2000.jpeg)

## ¬øQu√© es el Big Data?

Para que un conjunto de datos sea considerado como Big Data, debe poseer una o m√°s caracter√≠sticas que requieran adaptaci√≥n en el dise√±o y la arquitectura de la soluci√≥n del entorno anal√≠tico. La mayor√≠a de estas caracter√≠sticas de los datos fueron identificadas inicialmente por Doug Laney a principios de 2001, cuando public√≥ un art√≠culo describiendo el impacto del volumen, la velocidad y la variedad de los datos de comercio electr√≥nico en los almacenes de datos empresariales. A esta lista se ha a√±adido la veracidad para tener en cuenta la relaci√≥n se√±al-ruido m√°s baja de los datos no estructurados en comparaci√≥n con las fuentes de datos estructurados. En √∫ltima instancia, el objetivo es realizar un an√°lisis de los datos de manera que se entreguen resultados de alta calidad de manera oportuna, lo que proporciona un valor √≥ptimo a la empresa.

Esta secci√≥n explora las cinco caracter√≠sticas del Big Data que pueden utilizarse para diferenciar los datos categorizados como "grandes" de otras formas de datos. Las cinco caracter√≠sticas del Big Data  se conocen com√∫nmente como los Cinco V:
- Volumen (Volume)
- Velocidad (Velocity)
- Variedad (Variety)
- Veracidad (Veracity)
- Valor (Value)

<span class="hljs-tag"><img src="https://datascience.uc.cl/images/las-5-v-bigdata.png" width="480">


**Volumen**
El volumen anticipado de datos que procesan las soluciones de Big Data es considerable y est√° en constante crecimiento. Los altos vol√∫menes de datos imponen demandas distintas en el almacenamiento y procesamiento de datos, as√≠ como procesos adicionales de preparaci√≥n, curaci√≥n y gesti√≥n de datos.

Fuentes de datos t√≠picas que son responsables de generar altos vol√∫menes de datos pueden incluir:

* transacciones en l√≠nea, como puntos de venta y banca
* experimentos cient√≠ficos e investigaciones, como el Gran Colisionador de Hadrones y el telescopio Atacama Large Millimeter/Submillimeter Array
* sensores, como sensores GPS, RFIDs, medidores inteligentes y telemetr√≠a
* redes sociales, como Facebook y Twitter

**Velocidad**
En entornos de Big Data, los datos pueden llegar a velocidades r√°pidas y enormes conjuntos de datos pueden acumularse en per√≠odos de tiempo muy cortos. Desde el punto de vista de una empresa, la velocidad de los datos se traduce en el tiempo que lleva procesar los datos una vez que ingresan en el per√≠metro de la empresa. Lidiar con el r√°pido flujo de datos requiere que la empresa dise√±e soluciones de procesamiento de datos altamente el√°sticas y disponibles, as√≠ como capacidades de almacenamiento de datos correspondientes.

Dependiendo de la fuente de datos, la velocidad no siempre puede ser alta. Por ejemplo, las im√°genes de resonancia magn√©tica (MRI) no se generan con tanta frecuencia como las entradas de registro de un servidor web con mucho tr√°fico. La velocidad de los datos cobra perspectiva al considerar que los siguientes vol√∫menes de datos pueden generarse f√°cilmente en un minuto dado: 350,000 tweets, 500 horas de metraje de video cargado en YouTube, 197 millones de correos electr√≥nicos y 330 GB de datos de sensores de un motor a reacci√≥n.


**Variedad**
La variedad de datos se refiere a los m√∫ltiples formatos y tipos de datos que deben ser compatibles con las soluciones de Big Data. La variedad de datos plantea desaf√≠os para las empresas en t√©rminos de integraci√≥n, transformaci√≥n, procesamiento y almacenamiento de datos.Dentro de la variedad se encuentran la clasificacion seg√∫n el tipo de  datos estructurados en forma de transacciones financieras, datos semi-estructurados en forma de correos electr√≥nicos y datos no estructurados en forma de im√°genes.

**Veracidad**
La veracidad se refiere a la calidad o fidelidad de los datos. Los datos que ingresan en entornos de Big Data deben ser evaluados en cuanto a su calidad, lo que puede llevar a actividades de procesamiento de datos para resolver datos inv√°lidos y eliminar el ruido. En relaci√≥n con la veracidad, los datos pueden ser parte de la se√±al o del ruido en un conjunto de datos. El ruido es data que no se puede convertir en informaci√≥n y, por lo tanto, no tiene valor, mientras que las se√±ales tienen valor y conducen a informaci√≥n significativa. Los datos con una alta relaci√≥n se√±al-ruido tienen m√°s veracidad que los datos con una relaci√≥n m√°s baja. Los datos que se adquieren de manera controlada, por ejemplo, a trav√©s de registros de clientes en l√≠nea, suelen contener menos ruido que los datos adquiridos a trav√©s de fuentes no controladas, como publicaciones en blogs. Por lo tanto, la relaci√≥n se√±al-ruido de los datos depende de la fuente de los datos y su tipo.


**Valor**
El valor se define como la utilidad de los datos para una empresa. La caracter√≠stica de valor est√° intuitivamente relacionada con la caracter√≠stica de veracidad en el sentido de que cuanto mayor sea la fidelidad de los datos, m√°s valor tendr√° para el negocio. El valor tambi√©n depende de cu√°nto tiempo lleva el procesamiento de datos, ya que los resultados del an√°lisis tienen una vida √∫til; por ejemplo, una cotizaci√≥n de acciones con 20 minutos de retraso tiene poco o ning√∫n valor para realizar una operaci√≥n en comparaci√≥n con una cotizaci√≥n que tiene 20 milisegundos de antig√ºedad.
Como se demuestra, el valor y el tiempo est√°n inversamente relacionados. Cuanto m√°s tiempo se tarde en convertir los datos en informaci√≥n significativa, menos valor tendr√° para un negocio. Los resultados obsoletos inhiben la calidad y la velocidad de la toma de decisiones informadas.

Los datos generados por humanos y por m√°quinas pueden provenir de una variedad de fuentes y representarse en diversos formatos o tipos. A Continuaci√≥n veremos la variedad de tipos de datos que son procesados por las soluciones de Big Data. Los principales tipos de datos son:

- Datos estructurados
- Datos no estructurados
- Datos semi-estructurados

![texto del v√≠nculo](https://dgcloud.com.br/wp-content/uploads/2022/01/Estruturado-vs-Desestruturado.png)

Estos tipos de datos se refieren a la organizaci√≥n interna de los datos y a veces se denominan formatos de datos. Aparte de estos tres tipos fundamentales de datos.

**Datos Estructurados**

Los datos estructurados se ajustan a un modelo de datos o esquema y a menudo se almacenan en forma de tablas. Se utilizan para capturar relaciones entre diferentes entidades y, por lo tanto, se almacenan principalmente en una base de datos relacional. Los datos estructurados son generados con frecuencia por aplicaciones empresariales y sistemas de informaci√≥n como los sistemas ERP y CRM. Debido a la abundancia de herramientas y bases de datos que admiten nativamente datos estructurados, rara vez requiere consideraci√≥n especial en cuanto a procesamiento o almacenamiento. Ejemplos de este tipo de datos incluyen transacciones bancarias, facturas y registros de clientes.

* Ejemplo: Informaci√≥n de una base de datos de clientes que incluye nombres, direcciones, n√∫meros de tel√©fono y fechas de compra.

* Formatos Comunes: Tablas en bases de datos relacionales (por ejemplo, SQL), hojas de c√°lculo (por ejemplo, Excel), archivos CSV (valores separados por comas).

**Datos No Estructurados**

Los datos que no se ajustan a un modelo de datos o esquema de datos se conocen como datos no estructurados. Se estima que los datos no estructurados representan el 80% de los datos dentro de cualquier empresa dada. Los datos no estructurados tienen una tasa de crecimiento m√°s r√°pida que los datos estructurados. Esta forma de datos puede ser tanto textual como binaria, y a menudo se transmite a trav√©s de archivos que son autosuficientes y no relacionales. Un archivo de texto puede contener el contenido de varios tweets o publicaciones de blogs. Los archivos binarios suelen ser archivos multimedia que contienen datos de im√°genes, audio o video. T√©cnicamente, tanto los archivos de texto como los binarios tienen una estructura definida por el formato del archivo en s√≠, pero este aspecto se pasa por alto y la noci√≥n de ser no estructurados se refiere al formato de los datos contenidos en el archivo en s√≠ mismo.

* Ejemplo: Comentarios de clientes en una plataforma de redes sociales que expresan opiniones sobre un producto.

* Formatos Comunes: Texto libre en comentarios, publicaciones de redes sociales, contenido de blogs, im√°genes, audio y video.

**Datos Semi-Estructurados**

Los datos semi-estructurados tienen un nivel definido de estructura y consistencia, pero no son de naturaleza relacional. En cambio, los datos semi-estructurados son jer√°rquicos o basados en gr√°ficos. Este tipo de datos com√∫nmente se almacena en archivos que contienen texto.Los archivos XML y JSON son formas comunes de datos semi-estructurados. Debido a la naturaleza textual de estos datos y su conformidad con alg√∫n nivel de estructura, son m√°s f√°ciles de procesar que los datos no estructurados.

* Ejemplo: Informaci√≥n de productos en formato XML que incluye detalles de productos y atributos.

* Formatos Comunes: Archivos XML (Lenguaje de Marcado Extensible) para datos jer√°rquicos, archivos JSON (Notaci√≥n de Objetos JavaScript) para datos basados en atributos, archivos HTML (Lenguaje de Marcado de Hipertexto) con metadatos y contenido estructurado.

*Tomemos una pausa de  15 minutos*

## Parte 2

### Manipulaci√≥n de datos en python

En este apartado tendremos enfoque en la  tarea de manipulaci√≥n de datos en sus diversas formas: estructurados, no estructurados y semi-estructurados. Cada tipo de dato presenta desaf√≠os √∫nicos y oportunidades emocionantes en el mundo del an√°lisis y la toma de decisiones.

Comenzaremos por adentrarnos en el mundo de los datos estructurados, que siguen un esquema definido y se almacenan en tablas. Aprenderemos c√≥mo utilizar herramientas como pandas en Python para organizar, filtrar y agregar datos, obteniendo informaci√≥n valiosa de conjuntos
tabulares.

#### **Datos estructurados**

In [ ]:
import pandas as pd

# Crear un diccionario con datos de ejemplo
datos = {
    'Nombre': ['Ana', 'Juan', 'Mar√≠a', 'Carlos', 'Elena', 'Pedro', 'Laura', 'Sof√≠a', 'Miguel', 'Luis'],
    'Edad': [25, 30, 28, 22, 35, 40, 27, 29, 31, 24],
    'Departamento': ['Ventas', 'TI', 'RRHH', 'Ventas', 'Finanzas', 'TI', 'RRHH', 'Finanzas', 'TI', 'Ventas'],
    'Salario': [50000, 60000, 55000, 45000, 70000, 75000, 52000, 58000, 62000, 48000]
}

# Crear el DataFrame a partir del diccionario
data_frame = pd.DataFrame(datos)

# Mostrar el DataFrame
display(data_frame)

   Nombre  Edad Departamento  Salario
0     Ana    25       Ventas    50000
1    Juan    30           TI    60000
2   Mar√≠a    28         RRHH    55000
3  Carlos    22       Ventas    45000
4   Elena    35     Finanzas    70000
5   Pedro    40           TI    75000
6   Laura    27         RRHH    52000
7   Sof√≠a    29     Finanzas    58000
8  Miguel    31           TI    62000
9    Luis    24       Ventas    48000

In [ ]:

# Filtrar empleados mayores de 30 a√±os
empleados_mayores = data_frame[data_frame['Edad'] > 30]
print("\nEmpleados mayores de 30 a√±os:")
display(empleados_mayores)

# Calcular el salario promedio por departamento
salario_promedio_por_departamento = data_frame.groupby('Departamento')['Salario'].mean()
print("\nSalario promedio por departamento:")
print(salario_promedio_por_departamento)

Empleados mayores de 30 a√±os:

   Nombre  Edad Departamento  Salario
4   Elena    35     Finanzas    70000
5   Pedro    40           TI    75000
8  Miguel    31           TI    62000

Salario promedio por departamento:
Departamento
Finanzas    64000.000000
RRHH        53500.000000
TI          65666.666667
Ventas      47666.666667
Name: Salario, dtype: float64

`chunksize` es un par√°metro que se utiliza en pandas al leer grandes conjuntos de datos desde archivos, como CSV o bases de datos, para dividir el proceso de lectura en fragmentos m√°s peque√±os. Esto es especialmente √∫til cuando el conjunto de datos no cabe completamente en la memoria y deseas procesar los datos en partes m√°s manejables.

Cuando se utiliza el par√°metro `chunksize`, pandas lee y procesa el archivo en bloques de tama√±o especificado en lugar de cargar todo el archivo de una vez. Cada bloque se trata como un DataFrame independiente que puedes procesar individualmente o combinar con otros bloques seg√∫n tus necesidades.

Aqu√≠ tienes un ejemplo de c√≥mo usar `chunksize` al leer un archivo CSV con pandas:

```python
import pandas as pd

# Especifica el tama√±o del chunk
tama√±o_chunk = 10000

# Lee el archivo CSV en bloques de tama√±o_chunk
for chunk in pd.read_csv('archivo.csv', chunksize=tama√±o_chunk):
    # Realiza operaciones en el chunk actual
    # Por ejemplo, puedes realizar c√°lculos o filtrar datos en cada chunk
    print(chunk.shape)
```

En este ejemplo, el archivo CSV se leer√° en bloques de 10,000 filas cada uno. Dentro del bucle `for`, puedes realizar cualquier operaci√≥n que necesites en cada chunk individual.

El uso de `chunksize` es √∫til cuando trabajas con conjuntos de datos muy grandes y deseas procesarlos de manera eficiente y sin agotar la memoria disponible. Puedes aplicar funciones, filtros y otras operaciones en cada chunk y luego combinar los resultados seg√∫n sea necesario.

In [ ]:
for chunk in pd.read_csv('https://raw.githubusercontent.com/jazaineam1/BigData2023_2/main/Datos/datos_icfes.csv',encoding='latin-1', chunksize=100000):
    # Realiza operaciones en el chunk actual
    # Por ejemplo, puedes realizar c√°lculos o filtrar datos en cada chunk
    print(chunk.shape)

(100000, 8)
(100000, 8)
(100000, 8)
(100000, 8)
(100000, 8)
(46212, 8)

In [ ]:
%%timeit
df_icfes=pd.read_csv('https://raw.githubusercontent.com/jazaineam1/BigData2023_2/main/Datos/datos_icfes.csv',encoding='latin-1',chunksize=10000)

435 ms ¬± 36.1 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
df2=pd.read_csv('https://raw.githubusercontent.com/jazaineam1/BigData2023_2/main/Datos/datos_icfes.csv',encoding='latin-1')

834 ms ¬± 55.3 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

`pandarallel` es una biblioteca de Python que permite paralelizar operaciones en pandas utilizando m√∫ltiples n√∫cleos de CPU, lo que puede mejorar significativamente el rendimiento en operaciones que involucran grandes conjuntos de datos. A continuaci√≥n, te explicar√© c√≥mo funciona `pandarallel`:

1. **Instalaci√≥n:** Primero, debes instalar la biblioteca `pandarallel`. Puedes hacerlo usando el comando pip:

   ```
   pip install pandarallel
   ```

2. **Importar y Configurar:** Despu√©s de instalar la biblioteca, debes importarla y configurarla antes de usarla. La configuraci√≥n implica establecer el n√∫mero de n√∫cleos que deseas utilizar para las operaciones paralelas. Aqu√≠ hay un ejemplo de c√≥mo hacerlo:

   ```python
   from pandarallel import pandarallel

   pandarallel.initialize(nb_workers=4)  # N√∫mero de n√∫cleos a utilizar
   ```

3. **Uso en Operaciones:** Una vez que la biblioteca est√° configurada, puedes usarla en operaciones de pandas. La forma de usar `pandarallel` es utilizando el m√©todo `.parallel_apply()` en Series o DataFrames. Por ejemplo, supongamos que tienes un DataFrame `df` y deseas aplicar una funci√≥n a una columna llamada 'columna_a':

   ```python
   def mi_funcion(valor):
       # Operaciones que deseas realizar en paralelo
       return resultado

   df['nueva_columna'] = df['columna_a'].parallel_apply(mi_funcion)
   ```

   El m√©todo `.parallel_apply()` distribuir√° autom√°ticamente la aplicaci√≥n de la funci√≥n en paralelo en los n√∫cleos que hayas configurado previamente.

Recuerda que no todas las operaciones se benefician de la paralelizaci√≥n. Operaciones intensivas en c√°lculos o transformaciones suelen ser las m√°s adecuadas para utilizar `pandarallel`.

Es importante tener en cuenta que `pandarallel` utiliza la biblioteca `multiprocessing` internamente para lograr la paralelizaci√≥n. Sin embargo, la paralelizaci√≥n introduce cierto overhead, por lo que en operaciones peque√±as podr√≠a no resultar en una mejora significativa de rendimiento.

In [ ]:
pip install pandarallel

Requirement already satisfied: pandarallel in c:\users\ser_s\anaconda3\envs\big_data_env\lib\site-packages (1.6.5)
Requirement already satisfied: dill>=0.3.1 in c:\users\ser_s\anaconda3\envs\big_data_env\lib\site-packages (from pandarallel) (0.4.1)
Requirement already satisfied: pandas>=1 in c:\users\ser_s\anaconda3\envs\big_data_env\lib\site-packages (from pandarallel) (3.0.0)
Requirement already satisfied: psutil in c:\users\ser_s\anaconda3\envs\big_data_env\lib\site-packages (from pandarallel) (7.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ser_s\anaconda3\envs\big_data_env\lib\site-packages (from pandas>=1->pandarallel) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ser_s\anaconda3\envs\big_data_env\lib\site-packages (from pandas>=1->pandarallel) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\ser_s\anaconda3\envs\big_data_env\lib\site-packages (from pandas>=1->pandarallel) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\ser_s\anaconda3\envs\big_data_env\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1->pandarallel) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from pandarallel import pandarallel

pandarallel.initialize(nb_workers=3)  # N√∫mero de n√∫cleos a utilizar

INFO: Pandarallel will run on 3 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

WARNING: You are on Windows. If you detect any issue with pandarallel, be sure you checked out the Troubleshooting page:
https://nalepae.github.io/pandarallel/troubleshooting/

In [ ]:
df_icfes=pd.read_csv('https://raw.githubusercontent.com/jazaineam1/BigData2023_2/main/Datos/datos_icfes.csv',encoding='latin-1',chunksize=10000)
df_icfes

In [ ]:
df_icfes.get_chunk(100)

,ESTU_DEPTO_RESIDE,FAMI_ESTRATOVIVIENDA,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL
0,MAGDALENA,Estrato 3,47,48,37,30,54,208
1,BOGOT√Å,Estrato 3,60,65,54,59,63,299
2,BOLIVAR,Estrato 1,66,57,41,74,64,299
3,BOGOT√Å,Estrato 3,62,54,61,73,53,309
4,BOGOT√Å,Estrato 3,63,57,55,57,52,288
...,...,...,...,...,...,...,...,...
95,SUCRE,Estrato 1,42,47,50,39,38,220
96,META,Estrato 3,62,65,50,46,45,275
97,CUNDINAMARCA,Estrato 2,52,28,45,42,25,202
98,SANTANDER,Estrato 1,60,61,55,51,48,280
99,BOLIVAR,Estrato 1,58,48,44,33,29,222

In [ ]:
df = pd.concat(df_icfes, ignore_index=True)

In [ ]:
def cuadrado(valor):
    # Operaciones que deseas realizar en paralelo
    return valor**2

df['PUNT_LECTURA_CRITICA2'] = df['PUNT_LECTURA_CRITICA'].parallel_apply(cuadrado)
df

,ESTU_DEPTO_RESIDE,FAMI_ESTRATOVIVIENDA,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL,PUNT_LECTURA_CRITICA2
0,CORDOBA,Estrato 2,44,36,41,37,40.0,198,1936
1,CAUCA,-,32,28,29,32,28.0,150,1024
2,BOLIVAR,Estrato 3,40,54,46,42,40.0,225,1600
3,SUCRE,Estrato 2,39,48,35,31,45.0,194,1521
4,BOLIVAR,Estrato 2,43,51,43,44,29.0,220,1849
...,...,...,...,...,...,...,...,...,...
546107,ANTIOQUIA,Estrato 2,76,78,65,74,58.0,360,5776
546108,BOGOT√Å,Estrato 3,75,73,72,67,74.0,360,5625
546109,ARAUCA,Estrato 2,72,83,71,77,72.0,377,5184
546110,SANTANDER,Estrato 1,59,61,54,52,46.0,278,3481
546111,BOGOT√Å,Estrato 3,76,73,72,71,74.0,365,5776

#### [PandasAI](https://pandas-ai.readthedocs.io/en/latest/)

In [ ]:
print(df.head(5).to_markdown())

|    | ESTU_DEPTO_RESIDE   | FAMI_ESTRATOVIVIENDA   |   PUNT_LECTURA_CRITICA |   PUNT_MATEMATICAS |   PUNT_C_NATURALES |   PUNT_SOCIALES_CIUDADANAS |   PUNT_INGLES |   PUNT_GLOBAL |   PUNT_LECTURA_CRITICA2 |
|---:|:--------------------|:-----------------------|-----------------------:|-------------------:|-------------------:|---------------------------:|--------------:|--------------:|------------------------:|
|  0 | CORDOBA             | Estrato 2              |                     44 |                 36 |                 41 |                         37 |            40 |           198 |                    1936 |
|  1 | CAUCA               | -                      |                     32 |                 28 |                 29 |                         32 |            28 |           150 |                    1024 |
|  2 | BOLIVAR             | Estrato 3              |                     40 |                 54 |                 46 |                         42 |            40 |           225 |                    1600 |
|  3 | SUCRE               | Estrato 2              |                     39 |                 48 |                 35 |                         31 |            45 |           194 |                    1521 |
|  4 | BOLIVAR             | Estrato 2              |                     43 |                 51 |                 43 |                         44 |            29 |           220 |                    1849 |

#### **Datos semi estructurados**



**1. Identificaci√≥n del formato:** Primero, determina el formato en el que est√°n los datos semiestructurados, ya sea JSON, XML, HTML, CSV, etc. Esto te ayudar√° a elegir la herramienta o biblioteca adecuada para la lectura y an√°lisis.

**2. Selecci√≥n de herramientas:** Utiliza bibliotecas o herramientas que sean compatibles con el formato de los datos. Por ejemplo, si tienes datos en formato JSON, puedes utilizar bibliotecas como `json` en Python, si son XML, puedes utilizar `xml.etree.ElementTree`.

**3. Lectura de datos:** Utiliza las bibliotecas adecuadas para cargar los datos en una estructura que puedas manipular. Por ejemplo, en Python, puedes cargar datos JSON usando el m√≥dulo `json` o datos XML usando `xml.etree.ElementTree`.

**4. Transformaci√≥n y limpieza:** Los datos semiestructurados pueden tener campos opcionales, anidamientos y otros elementos que no siguen una estructura uniforme. Debes realizar una transformaci√≥n y limpieza para estructurar los datos de manera coherente y prepararlos para el an√°lisis.

**5. Extracci√≥n de informaci√≥n:** Identifica los campos y elementos relevantes para tu an√°lisis. Puedes acceder a estos campos utilizando las funciones o m√©todos proporcionados por las bibliotecas de lectura correspondientes.

In [ ]:
import json
data = [
    {
        "nombre": "Juan",
        "apellido": "P√©rez",
        "edad": 28,
        "departamento": "Ventas"
    },
    {
        "nombre": "Mar√≠a",
        "apellido": "G√≥mez",
        "edad": 32,
        "departamento": "Desarrollo"
    },
    {
        "nombre": "Carlos",
        "apellido": "L√≥pez",
        "edad": 24,
        "departamento": "Marketing"
    }
]

# Escribir los datos en un archivo JSON
with open("empleados.json", "w") as json_file:
    json.dump(data, json_file, indent=4)

In [ ]:
with open("empleados.json", "r") as json_file:
    data = json.load(json_file)
# Imprimir los datos cargados
print(data)

# Acceder a la informaci√≥n de cada empleado
for empleado in data:
    print("Nombre:", empleado["nombre"])
    print("Apellido:", empleado["apellido"])
    print("Edad:", empleado["edad"])
    print("Departamento:", empleado["departamento"])
    print()

[{'nombre': 'Juan', 'apellido': 'P√©rez', 'edad': 28, 'departamento': 'Ventas'}, {'nombre': 'Mar√≠a', 'apellido': 'G√≥mez', 'edad': 32, 'departamento': 'Desarrollo'}, {'nombre': 'Carlos', 'apellido': 'L√≥pez', 'edad': 24, 'departamento': 'Marketing'}]
Nombre: Juan
Apellido: P√©rez
Edad: 28
Departamento: Ventas

Nombre: Mar√≠a
Apellido: G√≥mez
Edad: 32
Departamento: Desarrollo

Nombre: Carlos
Apellido: L√≥pez
Edad: 24
Departamento: Marketing

In [ ]:
# Calcular la edad promedio de los empleados
edades = [empleado["edad"] for empleado in data]
edad_promedio = sum(edades) / len(edades)
print("Edad promedio:", edad_promedio)

# Contar el n√∫mero de empleados por departamento
departamentos = [empleado["departamento"] for empleado in data]
departamento_contadores = {departamento: departamentos.count(departamento) for departamento in set(departamentos)}
print("Conteo de empleados por departamento:", departamento_contadores)

Edad promedio: 28.0
Conteo de empleados por departamento: {'Ventas': 1, 'Marketing': 1, 'Desarrollo': 1}

In [ ]:
df2 = pd.DataFrame(data)
df2

   nombre apellido  edad departamento
0    Juan    P√©rez    28       Ventas
1   Mar√≠a    G√≥mez    32   Desarrollo
2  Carlos    L√≥pez    24    Marketing

In [ ]:
import pandas as pd
import xml.etree.ElementTree as ET

# Generar datos de empleados
data = [
    {
        "nombre": "Juan",
        "apellido": "P√©rez",
        "edad": 28,
        "departamento": "Ventas"
    },
    {
        "nombre": "Mar√≠a",
        "apellido": "G√≥mez",
        "edad": 32,
        "departamento": "Desarrollo"
    },
    {
        "nombre": "Carlos",
        "apellido": "L√≥pez",
        "edad": 24,
        "departamento": "Marketing"
    },
    {
        "nombre": "Ana",
        "apellido": "Mart√≠nez",
        "edad": 30,
        "departamento": "Recursos Humanos"
    },
    {
        "nombre": "Luis",
        "apellido": "Rodr√≠guez",
        "edad": 29,
        "departamento": "Ventas"
    },
    {
        "nombre": "Laura",
        "apellido": "S√°nchez",
        "edad": 28,
        "departamento": "Desarrollo"
    },
    {
        "nombre": "Pedro",
        "apellido": "Gonz√°lez",
        "edad": 26,
        "departamento": "Marketing"
    },
    {
        "nombre": "Sof√≠a",
        "apellido": "L√≥pez",
        "edad": 27,
        "departamento": "Ventas"
    }
]

# Crear el elemento ra√≠z del XML
root = ET.Element("empleados")

# Iterar a trav√©s de los datos y agregar elementos al XML
for empleado_data in data:
    empleado = ET.SubElement(root, "empleado")
    for clave, valor in empleado_data.items():
        ET.SubElement(empleado, clave).text = str(valor)

# Crear el √°rbol XML
tree = ET.ElementTree(root)

# Escribir el √°rbol XML en un archivo
tree.write("empleados.xml")

In [ ]:
import pandas as pd
import xml.etree.ElementTree as ET

# Parsear el archivo XML
tree = ET.parse("empleados.xml")
root = tree.getroot()

# Crear una lista para almacenar los datos
data = []

# Iterar a trav√©s de los elementos del XML
for empleado in root.findall("empleado"):
    nombre = empleado.find("nombre").text
    apellido = empleado.find("apellido").text
    edad = int(empleado.find("edad").text)
    departamento = empleado.find("departamento").text
    data.append({"nombre": nombre, "apellido": apellido, "edad": edad, "departamento": departamento})

# Convertir la lista de datos a DataFrame
df = pd.DataFrame(data)

# Mostrar informaci√≥n b√°sica del DataFrame
print("Informaci√≥n b√°sica del DataFrame:")
print(df.info())

# An√°lisis de edad promedio por departamento
edad_promedio_por_departamento = df.groupby("departamento")["edad"].mean()
print("\nEdad promedio por departamento:")
print(edad_promedio_por_departamento)

# An√°lisis de la distribuci√≥n de departamentos
conteo_departamentos = df["departamento"].value_counts()
print("\nConteo de empleados por departamento:")
print(conteo_departamentos)

Informaci√≥n b√°sica del DataFrame:
<class 'pandas.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nombre        8 non-null      str
 1   apellido      8 non-null      str
 2   edad          8 non-null      int64
 3   departamento  8 non-null      str
dtypes: int64(1), str(3)
memory usage: 388.0 bytes
None

Edad promedio por departamento:
departamento
Desarrollo          30.0
Marketing           25.0
Recursos Humanos    30.0
Ventas              28.0
Name: edad, dtype: float64

Conteo de empleados por departamento:
departamento
Ventas              3
Desarrollo          2
Marketing           2
Recursos Humanos    1
Name: count, dtype: int64

#### Datos no estructurados



**1. Preprocesamiento de datos:**
   - Limpieza: Eliminar ruido y datos irrelevantes.
   - Tokenizaci√≥n: Dividir el texto en unidades m√°s peque√±as (palabras, frases, etc.).
   - Normalizaci√≥n: Convertir texto a min√∫sculas, eliminar signos de puntuaci√≥n, etc.
   - Eliminaci√≥n de stop words: Eliminar palabras comunes sin significado (por ejemplo, "el", "y", "en").
   - Stemming y lematizaci√≥n: Reducir palabras a su forma base.

**2. An√°lisis de texto:**
   - An√°lisis de sentimiento: Determinar si el texto transmite emociones positivas, negativas o neutrales.
   - Extracci√≥n de entidades: Identificar nombres de personas, lugares, fechas, etc.
   - Detecci√≥n de temas: Identificar temas clave presentes en el texto.
   - Modelado de t√≥picos: Agrupar documentos en temas relacionados.

**3. Procesamiento de im√°genes y videos:**
   - Extracci√≥n de caracter√≠sticas: Convertir im√°genes en vectores num√©ricos.
   - Detecci√≥n de objetos: Identificar y localizar objetos en una imagen.
   - Segmentaci√≥n: Dividir una imagen en partes significativas.
   - Reconocimiento de patrones: Identificar patrones o formas en las im√°genes.

**4. Procesamiento de audio:**
   - Extracci√≥n de caracter√≠sticas: Convertir se√±ales de audio en datos num√©ricos.
   - Detecci√≥n de voz: Identificar partes habladas en una grabaci√≥n de audio.
   - Reconocimiento de habla: Convertir el habla en texto escrito.

**5. An√°lisis de redes sociales y web:**
   - An√°lisis de redes sociales: Examinar patrones de interacci√≥n y opiniones en plataformas sociales.
   - Web scraping: Recopilar datos relevantes de sitios web.

In [ ]:
import re
from collections import Counter

texto_largo = """
La tecnolog√≠a ha revolucionado nuestra sociedad en formas nunca antes imaginadas. La comunicaci√≥n, la informaci√≥n y la forma en que hacemos negocios han experimentado transformaciones radicales.

Hoy en d√≠a, los dispositivos m√≥viles son una extensi√≥n de nosotros mismos. Nos conectamos con personas de todo el mundo en un instante y compartimos ideas, im√°genes y momentos a trav√©s de plataformas digitales.

La inteligencia artificial est√° en constante evoluci√≥n y desaf√≠a lo que cre√≠amos posible. Desde asistentes virtuales hasta sistemas de recomendaci√≥n en l√≠nea, la IA est√° transformando la manera en que interactuamos con la tecnolog√≠a y c√≥mo vivimos nuestras vidas.

Los datos se han convertido en un recurso invaluable. Las empresas recopilan y analizan grandes cantidades de datos para comprender mejor a sus clientes, optimizar operaciones y tomar decisiones informadas. Sin embargo, esta riqueza de datos tambi√©n plantea cuestiones sobre la privacidad y la seguridad.

El aprendizaje autom√°tico nos ha brindado herramientas para resolver problemas complejos y hacer predicciones precisas. Los algoritmos pueden detectar patrones en los datos y adaptarse a nuevas situaciones, lo que ha abierto la puerta a aplicaciones en una amplia gama de campos, desde la medicina hasta la conducci√≥n aut√≥noma.

A medida que avanzamos en la era digital, es esencial abordar los desaf√≠os √©ticos y sociales que surgen. La adicci√≥n a la tecnolog√≠a, la desinformaci√≥n en l√≠nea y la automatizaci√≥n de trabajos son temas que requieren atenci√≥n cuidadosa y soluciones equitativas.

En resumen, la tecnolog√≠a ha transformado nuestro mundo de maneras inimaginables. Si bien ha mejorado muchas √°reas de nuestras vidas, tambi√©n plantea interrogantes y dilemas. Como sociedad, debemos navegar por este nuevo territorio con responsabilidad y consideraci√≥n.
"""

# Escribir el texto en un archivo
with open("texto_largo.txt", "w") as txt_file:
    txt_file.write(texto_largo)


# Leer el archivo de texto
with open("texto_largo.txt", "r") as txt_file:
    texto = txt_file.read()

# Contar palabras usando expresiones regulares
palabras = re.findall(r'\b\w+\b', texto.lower())
conteo_palabras = Counter(palabras)

# Mostrar las palabras m√°s comunes
print("Palabras m√°s comunes:")
for palabra, conteo in conteo_palabras.most_common(5):
    print(f"{palabra}: {conteo}")

# Contar oraciones
oraciones = re.split(r'[.!?]', texto)
conteo_oraciones = len([oracion for oracion in oraciones if oracion.strip() != ""])

# Mostrar el conteo de oraciones
print("\nTotal de oraciones:", conteo_oraciones)

Palabras m√°s comunes:
la: 19
y: 15
en: 13
de: 10
que: 7

Total de oraciones: 16

In [ ]:
import matplotlib.pyplot as plt
palabras = re.findall(r'\b\w+\b', texto.lower())
conteo_palabras = Counter(palabras)

# Obtener las palabras m√°s comunes y sus conteos
palabras_comunes = [palabra for palabra, conteo in conteo_palabras.most_common(10)]
conteos = [conteo_palabras[palabra] for palabra in palabras_comunes]

# Crear un gr√°fico de barras
plt.figure(figsize=(10, 6))
plt.bar(palabras_comunes, conteos, color='skyblue')
plt.title('Palabras M√°s Comunes en el Texto')
plt.xlabel('Palabra')
plt.ylabel('Conteo')
plt.xticks(rotation=45)
plt.tight_layout()

# Mostrar el gr√°fico
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

**Reto:**  ¬øC√≥mo har√≠as el an√°lsis de este conjunto de [datos](https://www.datos.gov.co/Gastos-Gubernamentales/SECOP-Integrado/rpmr-utcd)?.

Pueden revisar informaci√≥n sobre c√≥mo en la p√°gina: https://dev.socrata.com/foundry/www.datos.gov.co/rpmr-utcd

In [ ]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2023.7.22)

Por supuesto, aqu√≠ tienes un tutorial paso a paso sobre c√≥mo utilizar la API de Socrata con los datos proporcionados, utilizando Python.

## Tutorial: Uso de la API Socrata con Python

En este tutorial, aprenderemos c√≥mo utilizar la API de Socrata para acceder a los datos del portal "Datos Abiertos Colombia". Utilizaremos Python y la biblioteca `requests` para realizar solicitudes a la API y procesar los datos.

### Paso 1: Importar las Bibliotecas

En primer lugar, asegur√©monos de tener la biblioteca `requests` instalada. Si no lo tienes, puedes instalarla con el siguiente comando:

```bash
pip install requests
```

Ahora, en tu script de Python, importa la biblioteca `requests`:

```python
import requests
```

### Paso 2: URL de la API

Visita el enlace que proporcionaste: [https://www.datos.gov.co/Gastos-Gubernamentales/SECOP-Integrado/rpmr-utcd](https://www.datos.gov.co/Gastos-Gubernamentales/SECOP-Integrado/rpmr-utcd). En la parte superior derecha de la p√°gina, encontrar√°s un bot√≥n que dice "API". Haz clic en √©l y copia la URL que aparece en la barra de direcciones.

### Paso 3: Realizar una Solicitud a la API

Ahora, utilizaremos la URL de la API que copiamos en el paso anterior para hacer una solicitud GET y obtener los datos. Tambi√©n definiremos los par√°metros que queremos incluir en la consulta.

```python
# URL de la API
url = "https://www.datos.gov.co/resource/rpmr-utcd.json"

# Par√°metros de la consulta
params = {
    "$limit": 10,  # N√∫mero m√°ximo de registros a obtener
    "$offset": 0,  # √çndice de inicio
    "$select": "nombre_de_la_entidad,nit_de_la_entidad,departamento_entidad,valor_contrato",  # Campos a seleccionar
}

# Realizar la solicitud GET
response = requests.get(url, params=params)

if response.status_code == 200:
    data = response.json()
else:
    print("Error al acceder a la API:", response.status_code)
    exit()

```

### Paso 4: Procesar los Datos

Ahora que tenemos la respuesta de la API, procesaremos los datos utilizando la biblioteca `json` de Python para convertir la respuesta en un formato legible.

```python
import json

# Convertir la respuesta en formato JSON
data = response.json()

# Mostrar los primeros registros
for item in data:
    print(item)
```

### Paso 5: Analizar y Visualizar los Datos

Si deseas realizar an√°lisis m√°s detallados o visualizar los datos, puedes usar bibliotecas como `pandas` o `matplotlib`. Por ejemplo, aqu√≠ hay un ejemplo simple utilizando `pandas` para crear un DataFrame y mostrar los primeros registros:

```python
import pandas as pd

# Crear un DataFrame
df = pd.DataFrame(data)

# Mostrar los primeros registros
print(df.head())
```

Este tutorial te ha guiado a trav√©s de los pasos clave para utilizar la API de Socrata con Python. Puedes personalizar los par√°metros de la consulta seg√∫n tus necesidades y seguir explorando y analizando los datos. ¬°Divi√©rtete explorando y analizando los datos abiertos!

In [ ]:
#pruebe este codigo ac√°
#realice una visualizaci√≥n de una variable que le resulte interesante
#haga un breve an√°lisis

## Conclusiones

Por supuesto, aqu√≠ tienes cinco conclusiones claras y relevantes basadas en la informaci√≥n que proporcionaste:

1. **Impacto de la Era de la Informaci√≥n:** En la actual "Era de la Informaci√≥n", las empresas deben aprovechar el an√°lisis de big data para tomar decisiones m√°s informadas y estrat√©gicas. La abundancia de datos y la r√°pida evoluci√≥n tecnol√≥gica han transformado la forma en que las organizaciones operan y compiten.

2. **Importancia de los Cinco V del Big Data:** La gesti√≥n efectiva del big data requiere abordar los cinco V: volumen, velocidad, variedad, veracidad y valor. Estas caracter√≠sticas distinguen los datos como "grandes" y plantean desaf√≠os espec√≠ficos que deben abordarse para aprovechar todo su potencial.

3. **Diversidad de Tipos de Datos:** Los datos estructurados, no estructurados y semi-estructurados son fundamentales en el an√°lisis de big data. Comprender estos tipos de datos es esencial para procesarlos eficazmente y extraer conocimientos significativos. Los datos no estructurados, en particular, representan una gran parte del panorama de datos empresariales.

4. **Elecci√≥n entre On-Premise y Data Cloud:** Las empresas deben considerar cuidadosamente si optar por soluciones de almacenamiento y procesamiento "on-premise" o en la nube. Cada enfoque tiene sus propias ventajas y desaf√≠os en t√©rminos de control, seguridad, escalabilidad y costos, y la elecci√≥n debe basarse en las necesidades y objetivos de la organizaci√≥n.



5. **Ingesta de Datos en Python para Diferentes Tipos:** Adem√°s de comprender los tipos de datos, es esencial saber c√≥mo realizar la ingesta de datos en diferentes formatos en Python. Para datos estructurados, semi-estructurados y no estructurados, Python ofrece bibliotecas y herramientas espec√≠ficas que permiten a las empresas extraer, transformar y cargar (ETL) datos de manera eficiente. Explorar y utilizar bibliotecas como pandas, re y json en Python facilita la preparaci√≥n y el procesamiento de datos en diversos formatos, lo que es fundamental para el an√°lisis de big data.

# **Ejercicio en tiempo libre:**
 Fortaleciendo tus Habilidades en Python: Practica Constante

## **Acceso a los Recursos**

Hemos recopilado una serie de cuadernos de pr√°ctica para ustedes. Pueden acceder a estos recursos en este [enlace](https://github.com/jazaineam1/BigData2023_2/blob/main/Practica%20Python-20230216.zip). ¬°No duden en descargarlos y explorarlos desde donde se encuentren!

Recuerden, la pr√°ctica es el camino hacia la maestr√≠a. A medida que se sumerjan en los desaf√≠os y ejercicios de estos cuadernos, ver√°n c√≥mo sus habilidades en Python crecer√°n y se fortalecer√°n.

**Gracias**